//$palette_color_0000 = black
$palette_color_0001 = #2F4F4F
$palette_color_0002 = #4B0082
//$palette_color_0003 = #000000
//$palette_color_0004 = #FF9500
//$palette_color_0005 = #87CB16
//$palette_color_0006 = #1DC7EA
//$palette_color_0007 = #1D62F0
//$palette_color_0008 = #9A9A9A
//$palette_color_0009 = #888888
//$palette_color_0010 = yellow
//$palette_color_0011 = white
//$palette_color_0012 = #E7E7E7
//$palette_color_0013 = #FF4A55
//$palette_color_0014 = #FB404B
//$palette_color_0015 = #bb0502
//$palette_color_0016 = #A4A4A4
//$palette_color_0017 = #2E2E2E
//$palette_color_0018 = #1F77D0
//$palette_color_0019 = #533ce1
$palette_color_0020 = #4091ff
//$palette_color_0021 = #FFA534
//$palette_color_0022 = #6dc030
//$palette_color_0023 = #ff5221
$palette_color_0024 = #9368E9
$palette_color_0025 = #943bea
//$palette_color_0026 = #787878
$palette_color_0027 = #343434
//$palette_color_0028 = red
//$palette_color_0029 = blue
//$palette_color_0030 = orange
//$palette_color_0031 = purple
//$palette_color_0032 = green
$palette_color_0033 = #000000
$palette_color_0034 = #000000
$palette_color_0035 = #000000
$palette_color_0036 = #000000
$palette_color_0037 = #000000














