$palette_color_0001 = #F0F8FF
$palette_color_0002 = #FAEBD7
$palette_color_0003 = #00FFFF
$palette_color_0004 = #7FFFD4
$palette_color_0005 = #F0FFFF
$palette_color_0006 = #F5F5DC
$palette_color_0007 = #FFE4C4
$palette_color_0008 = #000000
$palette_color_0009 = #FFEBCD
$palette_color_0010 = #0000FF
$palette_color_0011 = #8A2BE2
$palette_color_0012 = #A52A2A
$palette_color_0013 = #DEB887
$palette_color_0014 = #5F9EA0
$palette_color_0015 = #7FFF00
$palette_color_0016 = #D2691E
$palette_color_0017 = #FF7F50
$palette_color_0018 = #6495ED
$palette_color_0019 = #FFF8DC
$palette_color_0020 = #DC143C
$palette_color_0021 = #00FFFF
$palette_color_0022 = #00008B
$palette_color_0023 = #008B8B
$palette_color_0024 = #B8860B
$palette_color_0025 = #A9A9A9
$palette_color_0026 = #A9A9A9
$palette_color_0027 = #006400
$palette_color_0028 = #BDB76B
$palette_color_0029 = #8B008B
$palette_color_0030 = #556B2F
$palette_color_0031 = #FF8C00
$palette_color_0032 = #9932CC
$palette_color_0033 = #8B0000
$palette_color_0034 = #E9967A
$palette_color_0035 = #8FBC8F
$palette_color_0036 = #483D8B
$palette_color_0037 = #2F4F4F
$palette_color_0038 = #2F4F4F
$palette_color_0039 = #00CED1
$palette_color_0040 = #9400D3
$palette_color_0041 = #FF1493
$palette_color_0042 = #00BFFF
$palette_color_0043 = #696969
$palette_color_0044 = #696969
$palette_color_0045 = #1E90FF
$palette_color_0046 = #B22222
$palette_color_0047 = #FFFAF0
$palette_color_0048 = #228B22
$palette_color_0049 = #FF00FF
$palette_color_0050 = #DCDCDC
$palette_color_0051 = #F8F8FF
$palette_color_0052 = #FFD700
$palette_color_0053 = #DAA520
$palette_color_0054 = #808080
$palette_color_0055 = #808080
$palette_color_0056 = #008000
$palette_color_0057 = #ADFF2F
$palette_color_0058 = #F0FFF0
$palette_color_0059 = #FF69B4
$palette_color_0060 = #CD5C5C
$palette_color_0061 = #4B0082
$palette_color_0062 = #FFFFF0
$palette_color_0063 = #F0E68C
$palette_color_0064 = #E6E6FA
$palette_color_0065 = #FFF0F5
$palette_color_0066 = #7CFC00
$palette_color_0067 = #FFFACD
$palette_color_0068 = #ADD8E6
$palette_color_0069 = #F08080
$palette_color_0070 = #E0FFFF
$palette_color_0071 = #FAFAD2
$palette_color_0072 = #D3D3D3
$palette_color_0073 = #D3D3D3
$palette_color_0074 = #90EE90
$palette_color_0075 = #FFB6C1
$palette_color_0076 = #FFA07A
$palette_color_0077 = #20B2AA
$palette_color_0078 = #87CEFA
$palette_color_0079 = #778899
$palette_color_0080 = #778899
$palette_color_0081 = #B0C4DE
$palette_color_0082 = #FFFFE0
$palette_color_0083 = #00FF00
$palette_color_0084 = #32CD32
$palette_color_0085 = #FAF0E6
$palette_color_0086 = #FF00FF
$palette_color_0087 = #800000
$palette_color_0088 = #66CDAA
$palette_color_0089 = #0000CD
$palette_color_0090 = #BA55D3
$palette_color_0091 = #9370DB
$palette_color_0092 = #3CB371
$palette_color_0093 = #7B68EE
$palette_color_0094 = #00FA9A
$palette_color_0095 = #48D1CC
$palette_color_0096 = #C71585
$palette_color_0097 = #191970
$palette_color_0098 = #F5FFFA
$palette_color_0099 = #FFE4E1
$palette_color_0100 = #FFE4B5
$palette_color_0101 = #FFDEAD
$palette_color_0102 = #000080
$palette_color_0103 = #FDF5E6
$palette_color_0104 = #808000
$palette_color_0105 = #6B8E23
$palette_color_0106 = #FFA500
$palette_color_0107 = #FF4500
$palette_color_0108 = #DA70D6
$palette_color_0109 = #EEE8AA
$palette_color_0110 = #98FB98
$palette_color_0111 = #AFEEEE
$palette_color_0112 = #DB7093
$palette_color_0113 = #FFEFD5
$palette_color_0114 = #FFDAB9
$palette_color_0115 = #CD853F
$palette_color_0116 = #FFC0CB
$palette_color_0117 = #DDA0DD
$palette_color_0118 = #B0E0E6
$palette_color_0119 = #800080
$palette_color_0120 = #663399
$palette_color_0121 = #FF0000
$palette_color_0122 = #BC8F8F
$palette_color_0123 = #4169E1
$palette_color_0124 = #8B4513
$palette_color_0125 = #FA8072
$palette_color_0126 = #F4A460
$palette_color_0127 = #2E8B57
$palette_color_0128 = #FFF5EE
$palette_color_0129 = #A0522D
$palette_color_0130 = #C0C0C0
$palette_color_0131 = #87CEEB
$palette_color_0132 = #6A5ACD
$palette_color_0133 = #708090
$palette_color_0134 = #708090
$palette_color_0135 = #FFFAFA
$palette_color_0136 = #00FF7F
$palette_color_0137 = #4682B4
$palette_color_0138 = #D2B48C
$palette_color_0139 = #008080
$palette_color_0140 = #D8BFD8
$palette_color_0141 = #FF6347
$palette_color_0142 = #40E0D0
$palette_color_0143 = #EE82EE
$palette_color_0144 = #F5DEB3
$palette_color_0145 = #FFFFFF
$palette_color_0146 = #F5F5F5
$palette_color_0147 = #FFFF00
$palette_color_0148 = #9ACD32