// Tables
table-row-variant($state, $background)
  .table > thead > tr,
  .table > tbody > tr,
  .table > tfoot > tr
    > td.{$state},
      background-color: $background
  .table-hover > tbody > tr
    > td.{$state}:hover,
        background-color: darken($background, 5%)